.nav {
    margin-left:auto;
    @include media(850px) {
        display: none;
    }
    
    &__list {
        display:flex;
        gap:1.5em; 
        padding:0;
        margin:0;
        list-style:none;
        justify-content: flex-end;
    }
    &__link {
        color: $dark;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        padding-bottom:0.375em;
        transition: 0.3s;
        
        &:hover {
            border-bottom: 1px solid $dark;
        }
    }
}
.active{
  border-bottom: 1px solid $dark;
}
.logo__img {
  width: clamp(100px, 20vw, 135px);
  height: auto;
}
.hidden{
  display: none !important;
}
.btn {
  display: inline-flex;         
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  box-sizing: border-box;
  font: inherit;              
  line-height: 1;               
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: $dark;
  border: 1px solid transparent;
  border-radius: 9999px;
  padding-block: 0.75em;       
  padding-inline: 1.25em;     
  transition: background-color 0.3s, color 0.3s;
}
.btn--primary {
  background-color: $dark;
  color: #fff;

  &:hover {
    filter: brightness(1.05);
  }
}
.btn--secondary {
  background-color: #fff;
  color: $dark;
  border-color: $dark;
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}
.thankyou{
      &__modal{
  display:grid;
  place-items:center;
  z-index:1000;
  font-size:18px;
  position: fixed;
  inset:0;
  }
   &__window{
  background:$light;
position:relative;
color:$dark;
z-index: 1;
padding:clamp(0.938rem,4vw,1.875rem);
 height: auto;
border-radius:30px;
margin: 15px;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
  max-width: 450px; 
  width: 100%;
  }
    &__overlay{
    position:absolute;
    inset:0;
    z-index:0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
  }
  &__close{
   display: grid;
   justify-self:end;
   width:20px;
  height:20px;
  border:none;
  background: transparent;
  cursor:pointer;
  padding: 0.5rem;
  color:$light; 
}
&__line{
  position: relative;
}
&__icon{
  width:30px;
  height:30px;
  
}
&__button{
   display: flex;
  justify-content: center;
  align-items: center;
}
&__btn{
  border:none;
  border-radius: 20px;
  background:$dark;
  color:$light;
  padding:10px;

}
&__title,&__text{
  text-align: center;
}
}


//follow us 
.net{
  &__modal{
  display:grid;
  place-items:center;
  z-index:1000;
  font-size:18px;
  position: fixed;
  inset:0;
  }
   &__window{
     display: flex;
    flex-direction: column;
    align-items: center;
  background:$light;
position:relative;
color:$dark;
z-index: 1;
padding:clamp(0.938rem,4vw,1.875rem);
border-radius:30px;
margin:0 auto;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
 height: 25vh;
width: 250px;
  }
    &__overlay{
    position:absolute;
    inset:0;
    z-index:0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
  }
  &__close{
   display: grid;
   justify-self:end;
   margin-bottom: 25px;
  width:20px;
  height:20px;
  border:none;
  background: transparent;
  cursor:pointer;
  padding: 0.5rem;
  color:$light; 
}
&__icon{
  width:30px;
  height:30px;
}
&__line{
  position: relative;
}
&__group{
  display:flex;
  justify-content: center;
  align-items: center;
 gap:20px;
 padding-top: 10px;
}
&__title{
  font-size:20px;
  text-align: center;
  padding-block: 15px;
}
&__x-img{
  transform: translateY(-2px);
  color:$dark;
}
&__instagram-img {
  color:$dark;
  transform: translateY(1px);
}
&__facebook-img{
    transform: translateY(-2px);
    color:$dark;
}
&__x-img,&__instagram-img,&__facebook-img{
  width: 45px;
  height: 45px;
    fill: currentColor;
  stroke: currentColor;
   translate:  transform .3s ease, box-shadow .3s ease;
      &:hover {
        color:$dark;
  }
}
&__copied {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  &.show {
    opacity: 1;
  }
}

}
.modal__body-active{
   overflow: hidden;
}
.disabled{
opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;  
  transform: none;  
  box-shadow: none;
}
.foto{
    &__modal{
  display:grid;
  place-items:center;
  z-index:1000;
  font-size:18px;
  position: fixed;
  inset:0;
  }
   &__window{
     display: flex;
    flex-direction: column;
    align-items: center;
  background:$light;
position:relative;
color:$dark;
z-index: 1;
padding:clamp(0.938rem,4vw,1.875rem);
border-radius:30px;
margin:0 auto;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
 
  }
    &__overlay{
    position:absolute;
    inset:0;
    z-index:0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
  }
  &__close{
   display:grid;
   justify-self:end;
   margin-bottom: 25px;
  border:none;
  background: transparent;
  cursor:pointer;
  padding: 0.5rem;
  color:$light; 
  
}
&__icon{
  width:30px;
  height:30px;
}
&__line{
  position: relative;
}
}
.skill__bar[data-level="65"].is-active {
  width: 65%;
}
.skills__bar.is-active {
  width: var(--fill);
}