:root 
{ --header-h: clamp(56px, 6vw, 88px); }

.hero {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100svh;
    padding-top: var(--header-h);
    padding-bottom: 0;
    justify-content: center;
    &__content {
        flex: 1;                  
        display: flex;
        align-items: center;        
        justify-content: center;    
        text-align: center;
    }

    &__title {
        font-size:clamp(30px,4vw,60px);
        font-weight:$fw-light;
        position: relative;
        padding-block: 0.375em; 
        padding-inline: 1.8125em; 
        display:inline-block;
        margin-inline:auto;   
        &-accent {
            font-weight: $fw-medium;
        }
        
        &::before, &::after {
            content: '';
            background-repeat: no-repeat;
            width: clamp(14px, 2vw, 28px);
            height: clamp(11px, 1.5vw, 21px);
            position: absolute;
        }
        
        &::before {
            background-image: url(../img/before-title.png);
            left: 0;
            top: 0;
        }
        
        &::after {
            background-image: url(../img/after-title.png);
            right: 0;
            bottom: -0.25em;
        }
    }

    &__scroll-btn {
        position: absolute;
        left: 50%;
        bottom: clamp(20px, 5vw, 42px);
        transform: translateX(-50%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;           
        height: 44px;           
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        margin: 0; 
    }
    &__scroll-icon {
    display: block;
    animation: floatY 2s ease-in-out infinite;
    }
}
@keyframes floatY {
  0%, 100% {
     transform: translateY(0);
     }
  50% { 
    transform: translateY(8px); 
}  
}
.header {
    position: absolute;           
    inset: 0 0 auto 0;
     block-size: var(--header-h);
    z-index: 10;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:1.5rem;
    }
}
.about {
    padding-top:clamp(100px,10vw,240px);
    padding-bottom:clamp(100px,8vw,132px);
    
    &__inner {
        display: flex;
        gap:clamp(16px, 3vw, 32px);
       
        
        @include media(960px) {
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__visual,&__content {
        flex: 1 1 calc((100% - 32px)/2);
        min-width: 0;
       
        
        @include media(960px) {
            flex: 0 0 100%;
        }
    }
    &__visual {
        position: relative;
    }
    &__content {
        @include media(960px) {
            margin-bottom: 1.875em;
        }
    }
    
    &__img {
        &--back {
            background-image:url(../img/work.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            z-index: 0;
            inset:10% 0 0 12%;
               transform: translate(-40%, -20%) scale(0.95);
               transform-origin: top left;
               pointer-events: none;

            @include media(960px) {
                display: none;
            }
        }
        
        &--front {
             position: relative;
             z-index: 1;
             display: block;
             max-width: 100%;
             height: auto;
            }
         }
    
    &__caption {
        position: absolute;
        left: -4em;
        bottom:clamp(5px,2vw,20px);
        display:inline-flex;
        flex-direction: column;
        align-items: center;     
        gap: 0.5em; 
        z-index: 2;
        pointer-events: none;
        
        
        @include media(960px) {
            display: none;
        }
        &-line{
            width: 1px;
            height: 2em;
            background-color: $dark;
        }
        &-text{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-size: $fs-body;
            letter-spacing: 0.1em;
        }
    }
    
    &__title {
        font-size:clamp(25px,3vw,48px);
        font-weight:$fw-medium;
        margin-block: 0.75em 1.25em;
    }
    
    &__text {
        color: $text;
        font-size:$fs-body;
        line-height: 1.5;
        margin-bottom: 3em;
    }
}
.skills {
    &__item {
        margin-bottom:1.3125em;
    }
    
    &__bar {
        width:0;
        height: 2px;
        background-color: $dark;
        position: relative;
        transition: width 1.2s ease;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: url(../img/circle.png) no-repeat;
            width: 6px;
            height: 11px;
        }
        
        &::after {
            content: '';
            position: absolute;
            right: 0;
            height: 2px;
            background-color: #f2f2f2;
            width: calc(100% - var(--fill, 100%));
        }
    }
    
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__name, &__value {
        font-size:$fs-body;
        font-weight: $fw-medium;
    }
}
.services {
    background-color: $light;
    padding-block: clamp(80px, 10vw, 120px);
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: clamp(16px, 4vw, 48px) clamp(16px, 5vw, 31px);
        margin-block: 4em 2em;
        
    }
}
.service-card {
    &:hover {
        .service-card__link-text {
            width: inherit;
            opacity: 1;
            padding-right: 9px;
        }
    }
    
    &__icon {
        background-repeat: no-repeat;
        display: block;
        width: 44px;
        height: 37px;
        margin-bottom: clamp(20px,2vw,30px);
        
        &--design {
            background-image: url(../img/icon01.png);
            background-size: 41px 35px;
        }
        
        &--photo {
            background-image: url(../img/icon02.png);
            background-size: 43px 35px;
        }
        
        &--web {
            background-image: url(../img/icon03.png);
            background-size: 41px 35px;
        }
        
        &--social {
            background-image: url(../img/icon04.png);
            background-size: 37px 37px;
        }
        
        &--marketing {
            background-image: url(../img/icon05.png);
            background-size: 44px 37px;
        }
        
        &--app {
            background-image: url(../img/icon06.png);
            background-size: 37px 37px;
        }
    }

  &__title {
    font-size: clamp(18px, 2vw, 22px);
    font-weight: $fw-regular;
    margin-bottom: clamp(16px, 2vw, 18px);
  }

  &__text {
    color: $text;
    font-size: clamp(13px, 1vw, 14px);
    line-height: 1.8;
  }

  &__link {
    color: $dark;
    font-size: $fs-min;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    gap: 0.75em;
    align-items: center;
    min-height: 44px;
    padding-block: 0.5em;
    overflow: hidden;

    &:hover &-text,
    &:focus-visible &-text {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__link-text {
    opacity: 0;
    transform: translateX(-0.5em);
    transition: opacity .25s ease, transform .25s ease;
  }

  &__link-line {
    width: 25px;
    height: 1px;
    background-color: $dark;
    transition: width .25s ease;
    .service-card__link:hover &,
    .service-card__link:focus-visible & {
      width: 40px;
    }
  }
}


.portfolio {
    padding-block: clamp(100px,8vw,161px);
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: 8px;
        row-gap: 8px;                   
        gap: clamp(16px, 3vw, 40px);
        margin-block-start: 5.1875em;
        grid-auto-flow:dense;
    }
    
    &__item {
        display:block;
     &--short { grid-row: span 8; }
     &--tall  { grid-row: span 12; }
    }
    
    &__thumb {
        inline-size:100%;
        overflow: hidden;
        block-size:100%;
        img {
            display: block;
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;
        }
    }
}
.testimonials {
    padding-top: clamp(100px,8vw,122px);
    padding-bottom:clamp(80px,10vw,158px);
    
    &__grid {
        display: flex;
        gap: clamp(2rem, 6vw, 9.375rem);
        margin-top: clamp(2em, 4vw, 3.5em);
         @include media(850px) {
            flex-direction: column;
        }
       
    }
}

.testimonial {
    flex:0 0 calc(45% - 20px);
    
    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom:clamp(1.56em,4vw,3.5em);
        
        @include media(650px) {
            align-items: center;
        }
    }
    
    &__avatar {
        margin-inline-end: clamp(12px, 2vw, 20px);
        
        img {
            @include media(650px) {
                max-width: 60px;
            }
        }
    }
    
    &__name {
        font-size:clamp(18px,2vw,22px);
        margin-block: 0.875em 0.688em;
    }
    
    &__position {
        font-size: clamp(11px, 1.2vw, 13px);
        color: $text;
    }
    
    &__body {
        position: relative;
        padding-inline-start: 1.5em;
        font-size: clamp(14px,2vw,18px);
        color: $text;
        font-style: italic;
        line-height: 1.8;
        &::before {
      content: "\201C";               
      position: absolute;
      inset-block-start: 0;            
      inset-inline-start: 0;            
      font-size: 1.5em;
      line-height: 1;
      color:$text;
        }
        &::after {
    content: "\201D";     
    position: absolute;
    inset-block-end: 0;    
    inset-inline-end: 0;   
    font-size: 1.5em;
    line-height: 1;
    color: $text;
    pointer-events: none;
  }
    }
}
.stats {
    padding-block: clamp(80px, 8vw, 100px) clamp(56px, 6vw, 82px);
    background-color: $light;
    
    &__grid {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: clamp(16px, 4vw, 48px);
        flex-wrap: wrap;
    }
}

.stat {
    flex:1 1 220px;
    
  &__icon {
    inline-size: clamp(56px, 7vw, 70px);
    block-size: clamp(56px, 7vw, 70px);
    border-radius: 50%;
    margin: 0 auto clamp(14px, 2vw, 27px);
    background-color: $dark;
    background-position: center;
    background-repeat: no-repeat;

    &--clients   { background-image: url(../img/heart.png);      background-size: 26px 23px; }
    &--projects  { background-image: url(../img/project.png);    background-size: 26px 23px; }
    &--experience{ background-image: url(../img/experience.png); background-size: 26px 24px; }
    &--awards    { background-image: url(../img/awards.png);     background-size: 19px 23px; }
  }

  &__count {
    font-size: clamp(18px, 2vw, 22px);
    font-weight:$fw-medium;
    margin-block-end: clamp(8px, 1.5vw, 13px);
  }

  &__label {
    font-size: clamp(12px, 1.6vw, 16px);
    text-transform: uppercase;
    letter-spacing: 0.06em; 
  }
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    
    &__input, &__textarea {
        border: none;
        border-bottom: 1px solid #e1e1e1;
        font-size:$fs-min;
        padding-block:1.063em 1.563em;
        text-align: center;
        margin-bottom:clamp(10px,2vw,15px);
        transition: 0.3s;
        box-sizing: border-box;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid $dark;
        }
    }
    
    &__textarea {
        padding-block: 0.75em 1.563em;
        min-height:clamp(60px, 15vw, 120px);
        margin-block-end: clamp(12px, 2vw, 35px);
    }
}
.footer {
    background-color: $dark;
    padding-block: clamp(48px, 6vw, 64px) clamp(56px, 7vw, 69px);
    
    &__inner {
        display: flex;
        justify-content:space-between;
        align-items: center;
        color: #fff;
        font-size:clamp(14px,1vw,16px);
        
        @include media(650px) {
            flex-direction: column;
            gap: clamp(12px, 3vw, 20px);
            text-align: center;
        }
    }
    
    &__copyright {
        @include media(650px) {
            margin-bottom:clamp(12px,2vw,20px);
        }
    }
}

.social {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    
    @include media(650px) {
        justify-content: center;
    }
    
    &__item {
        margin-inline:clamp(12px,2vw,20px);
    }
    
    &__link {
       display: flex;
       inline-size: 44px;
       block-size: 44px;
       align-items: center;
       justify-content: center;
       color: #fff;
       text-decoration: none;
       &:hover {
        opacity:.85;
       }
       &:focus-visible {
       outline: 2px solid #fff;
       outline-offset: 2px;
    }
}
}